*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*background: #8A2387;   fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */*/
/*background: linear-gradient(to right, #F27121, #E94057, #8A2387);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.main-container{
	background: #f4f4f4;
  }

body{
	 background: -webkit-linear-gradient(right, rgb(149, 30, 181) 20%, rgb(224, 60, 107) 47%, rgb(252, 131, 32) 72%);
	 font-family: "Arial", sans-serif;
}

.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	background:#fff;


}

.nav-bar .nav-logo{
	padding-top: 5px;
	padding-left: 90px;
}

.nav-bar .nav-logo a{
	/*color: linear-gradient(to right, #F27121, #E94057, #8A2387);*/
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(right, rgb(149, 30, 181) 20%, rgb(224, 60, 107) 47%, rgb(252, 131, 32) 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar .nav-logo .nav-link img {
	width: 140px;
}

.right-label{
	display: flex;
	flex-direction: row;
	padding: 5px
	justify-content:center;
	padding-right: 90px;
}

.right-label .inner-logo {
	width: 100%;
	text-align: center;
	align-items: center;
    background: -webkit-linear-gradient(right, rgb(149, 30, 181) 20%, rgb(224, 60, 107) 47%, rgb(252, 131, 32) 72%);
   -webkit-text-fill-color: #fff;
    font-weight: bold;
    	padding: 10px;
	border-radius: 50px;

}
.right-label .inner-label{
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-top: 5px;
}

.right-label .inner-label span {
	font-family:"Arial", sans-serif;
}

.right-label .inner-label .user-email{
	font-size: 12px;
	color: #ccc;
}

/*main content*/

.main-content{

  display: flex;
  flex-direction: row;
  padding-right: 90px;
  padding-left: 90px;
}

.main-content .right-content{
	flex-basis: 50%;
	background: #fff;
	padding: 30px;
}

.main-content .left-content{
	flex-basis: 50%;
    padding: 30px;
    background: #f4f4f4;;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*section cards*/

.section-card{
	background-color: #fff;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section-card .section-inner .c-label{
  font-size: 12px;
  color: #ccc;
  font-weight: bold;
}

.section-card .section-inner .c-h3{

  font-family: "Arial",sans-serif;
  padding-top: 10px;

}

.section-card .angle-down{
  text-align: center;
  padding-top: 15px;
}

.section-card .angle-down i {
	font-weight: 900;
}